html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
}


.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.search-block {
  margin: 0 auto;
  padding: 50px;
  max-width: 50%;
}

.invalid-name {
  display: block;
}

.invalid-age {
  display: block;
}

.invalid-competencies {
  display: block;
}
